<div>
  <div class="main">
    
    <ul class="breadcrumb">
        <li style="font-style: italic;"><a href="#">Home</a></li>
        <li style="font-style: italic;"><a href="#">Inbox</a></li>
        <li style="font-style: italic; font-weight: bold;"><a href="#">Commission Adjustment</a></li>
    </ul> 
    <div class="eventlogs"><button class="eventb">EVENT LOGS</button></div>
</div>
<div class="head-container">
    <div class="ca-header">
        <p class="TN">Transaction&nbsp;No.&nbsp;3019</p>   
        <div class="ca">Commission&nbsp;Adjustment</div>
        <p>Screen&nbsp;ID:&nbsp;SCR4104022</p>
    </div>
  </div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer style="z-index:-1;" #drawer class="example-sidenav" mode="side" position="end">
      <div class="p-request">REQUEST&nbsp;SUMMARY: </div>
      <p>Policy&nbsp;Number<br>
      POL-001-001</p>
      <br>
      <div class="InvAdjust">Invoice/s&nbsp;for&nbsp;Adjustment</div>
         <p>100000001 <br>
            100039443</p> <br>
      <div class="p-adj">Adjustment&nbsp;Type</div>
      <p>Addition&nbsp;in&nbsp;Commision</p>
      <br>
      <div class="p-reason">Reason&nbsp;for&nbsp;Adjustment</div> 
      <p>To&nbsp;add&nbsp;5%&nbsp;commission&nbsp;in&nbsp;Invc&nbsp;#s&nbsp;100000001&nbsp;
        <br>&&nbsp;100039443</p>
      <br>
      <br>
      <div class="PolicyBasic">POLICY&nbsp;BASIC&nbsp;INFO:</div>
      <br>
      <div class="Assured">Assured</div>
      <p>CYRRENE&nbsp;D.&nbsp;INOY</p>
      <br>
      <div class="LineType">Line/Type</div>
      <p>MOTOR-Comprehensive&nbsp;insurance</p>
      <br>
      <div class="ReferNum">Reference&nbsp;Number</div>
      <p>200602210000012</p>
      <br>
      <div class="EnsurCom">Insurance&nbsp;Company</div>
      <p>FPG&nbsp;Insurance</p>
      <br>
      <div class="PoliPer">Policy&nbsp;Period</div>
      <p>03/19/2021&nbsp;to&nbsp;03/13/2022</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <i class="fas fa-angle-double-left"></i>
      </button>
    </div>
  

<mat-stepper class="main-container" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>INVOICE&nbsp;ADJUSTMENT</ng-template>


      
      <div class="Invoice-adjustment" style="padding: 10px 0px;">Invoice/s for Adjustment </div>
      <div class="main-mat-elevation-z8" style="overflow-x: auto; overflow-y: auto;">

        

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef width="50px">  </th>
            <td mat-cell *matCellDef="let element"> <button class="deletebtn"  mat-raised-button><mat-icon><i class="fas fa-trash-alt"></i></mat-icon></button>
             {{element.Delete}} </td>

             
          </ng-container>
          <!-- Hastag Column -->
          <ng-container  matColumnDef="hastag">
            <th mat-header-cell *matHeaderCellDef width="60px"> # </th>
            <td mat-cell  *matCellDef="let element"style="text-align:center;">  {{element.hastag}} </td>
          </ng-container>
        
          <!-- Invoice No. Column -->
          <ng-container matColumnDef="InvoiceNo">
            <th mat-header-cell *matHeaderCellDef width="150px"> INVOICE&nbsp;NO. </th>
            <td mat-cell *matCellDef="let element" style="text-align:center;"> {{element.InvoiceNo}} </td>
          </ng-container>
        
          <!-- Coverage Description Column -->
          <ng-container matColumnDef="CovDescrip">
            <th mat-header-cell *matHeaderCellDef width="200px"> COVERAGE&nbsp;DESCRIPTION </th>
            <td mat-cell *matCellDef="let element" style="text-align:left; padding: 0px 15px;"> {{element.CovDescrip}} </td>
          </ng-container>
        
          <!-- Covered Amount Column -->
          <ng-container matColumnDef="CovAmount">
            <th mat-header-cell *matHeaderCellDef width="150px"> COVERED&nbsp;AMOUNT </th>
            <td mat-cell *matCellDef="let element"> {{element.CovAmount}} </td>
          </ng-container>
    
          <!-- PREMIUM RATE Column -->
          <ng-container matColumnDef="PrimRate">
            <th mat-header-cell *matHeaderCellDef width="150px"> PREMIUM&nbsp;RATE </th>
            <td mat-cell *matCellDef="let element"> {{element.PrimRate}} </td>
          </ng-container>
    
          <!-- PREMIUM Amount Column -->
          <ng-container matColumnDef="PrimAmount">
            <th mat-header-cell *matHeaderCellDef width="150px"> PREMIUM&nbsp;AMOUNT</th>
            <td mat-cell *matCellDef="let element"> {{element.PrimAmount}} </td>
          </ng-container>
    
          <!-- COMMISSION RATE Column -->
          <ng-container matColumnDef="CommRate">
            <th mat-header-cell *matHeaderCellDef width="160px"> COMMISSION&nbsp;RATE</th>
            <td mat-cell *matCellDef="let element"> {{element.CommRate}} </td>
          </ng-container>
        
           <!-- COMMISSION AMOUNT Column -->
           <ng-container matColumnDef="CommAmount">
            <th mat-header-cell *matHeaderCellDef width="180px"> COMMISSION&nbsp;AMOUNT</th>
            <td mat-cell *matCellDef="let element"> {{element.CommAmount}} </td>
          </ng-container>
          
           <!-- CM COMMISSION Column -->
           <ng-container matColumnDef="cmComm">
            <th mat-header-cell *matHeaderCellDef width="190px"> CM&nbsp;COMMISSION</th>
            <td mat-cell *matCellDef="let element"> {{element.cmComm}} </td>
          </ng-container>
          <!--ADJUSTED COMMISSION Column-->
          <ng-container matColumnDef="AdjComm">
            <th mat-header-cell *matHeaderCellDef width="200px"> ADJUSTED&nbsp;COMMISSION</th>
            <td mat-cell *matCellDef="let element"> {{element.cmComm}} </td>
          </ng-container>
          <!--VALID COMMISSION	 Column-->
          <ng-container matColumnDef="ValComm">
            <th mat-header-cell *matHeaderCellDef width="200px"> VALID&nbsp;COMMISSION</th>
            <td mat-cell *matCellDef="let element"> {{element.ValComm}} </td>
          </ng-container>
          <!--ADJUSTMENT Column-->
          <ng-container matColumnDef="Adjust">
            <th mat-header-cell *matHeaderCellDef width="200px"> ADJUSTMENT</th>
            <td mat-cell *matCellDef="let element"> {{element.Adjust}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
      </div>
      <!--<mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>-->
      <!--2nd Table-->
    </form>
    <div class="" style="margin-top:30px;">
      <div class="TCPI">Total Coverage per Invoice</div>
      <div class="main-mat-elevation-z85" style="overflow-x: auto; overflow-y: auto;">
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z85">
          
          <ng-container matColumnDef="invoiceno" >
            <th mat-header-cell *matHeaderCellDef width="50px">INVOICE&nbsp;NO.</th>
            <td mat-cell *matCellDef="let element"style="text-align:center;"> {{element.invoiceno}} </td>
          </ng-container>
          <!-- Hastag Column -->
          <ng-container matColumnDef="CoveredAmmount">
            <th mat-header-cell *matHeaderCellDef width="160px"> COVERED&nbsp;AMOUNT </th>
            <td mat-cell *matCellDef="let element">  {{element.CoveredAmmount}} </td>
          </ng-container>
        
          <!-- Invoice No. Column -->
          <ng-container matColumnDef="PremiumAmmount">
            <th mat-header-cell *matHeaderCellDef width="160px"> PREMIUM&nbsp;AMOUNT </th>
            <td mat-cell *matCellDef="let element"> {{element.PremiumAmmount}} </td>
          </ng-container>
        
          <!-- Coverage Description Column -->
          <ng-container matColumnDef="GrossCommission">
            <th mat-header-cell *matHeaderCellDef width="170px"> GROSS&nbsp;COMMISSION </th>
            <td mat-cell *matCellDef="let element"> {{element.GrossCommission}} </td>
          </ng-container>
        
          <!-- Covered Amount Column -->
          <ng-container matColumnDef="CommissionAdjust">
            <th mat-header-cell *matHeaderCellDef width="180px"> COMISSION&nbsp;ADJUSTMENT</th>
            <td mat-cell *matCellDef="let element"> {{element.CommissionAdjust}} </td>
          </ng-container>
      
          <!-- PREMIUM RATE Column -->
          <ng-container matColumnDef="NetGrossComm">
            <th mat-header-cell *matHeaderCellDef width="200px"> NET&nbsp;GROSS&nbsp;COMMISSION</th>
            <td mat-cell *matCellDef="let element"> {{element.NetGrossComm}} </td>
          </ng-container>
          
          
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
      </div>
    </div>
    <br>
    <br>
    <br>
    <footer>
      <div class="main-pscn">
          <div class="pscn">
    <button  class="pscn-save" mat-raised-button  ><i class="fas fa-save">&nbsp;SAVE</i></button>
    <button  class="pscn-close" mat-raised-button ><i class="fas fa-times-circle">&nbsp;CLOSE</i></button>
  </div>
  <div class="main-pscn-next">
    <button class="pscn-next" mat-raised-button matStepperNext style="font-family: 'Poppins', sans-serif;">next&nbsp;<i class="fas fa-arrow-alt-circle-right"></i></button>
  </div>
</div>
</footer>
  </mat-step >


  <mat-step [stepControl]="secondFormGroup"  label="OTHER DETAILS">
    <form [formGroup]="secondFormGroup">
      <div class="dpi" style="padding:0 41%;">
        <div class="DR"> 
        <p class="DateReq" style="font-family: 'Poppins', sans-serif;"></p>
        <mat-form-field appearance="outline" class="example-form-field">
          <mat-label >Date&nbsp;Requested:</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        </div>
        <form class="example-form">
          <p class="particulars"style="font-family: 'Poppins', sans-serif;"></p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Particulars:</mat-label>
            <textarea matInput placeholder="" style="font-size:13px; " ></textarea>
          </mat-form-field>
          </form>
          <form class="example-form">
            <p class="InternalRem" style="font-family: 'Poppins', sans-serif;"></p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label >Internal&nbsp;Remarks:</mat-label>
              <textarea matInput placeholder="" style="font-size:13px;"></textarea>
            </mat-form-field>
            </form>
          </div>
    </form>
    
    <footer>
      <div class="main-pscn">
          <div class="pscn">
    <button  class="pscn-previous" mat-raised-button matStepperPrevious ><i class="fas fa-arrow-alt-circle-left">&nbsp;PREVIOUS</i></button>
    <button  class="pscn-save" mat-raised-button  ><i class="fas fa-save">&nbsp;SAVE</i></button>
    <button  class="pscn-close" mat-raised-button  ><i class="fas fa-times-circle">&nbsp;CLOSE</i></button>
  </div>
  <div class="main-pscn-next">
    <button class="pscn-next" mat-raised-button matStepperNext style="font-family: 'Poppins', sans-serif;">next&nbsp;<i class="fas fa-arrow-alt-circle-right"></i></button>
  </div>
</div>
</footer>
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup"  label="ADJUSTMENT SUMMARY">
    <form [formGroup]="secondFormGroup">
      
      <div class="" style="margin-top:30px;">
        <div  class="Invoice-no">Invoice No.&nbsp;&nbsp;&nbsp;: <input disabled type="text" placeholder="100000001"></div>
        <div class="main-mat-elevation-z9" style="overflow-x: auto; overflow-y: auto;">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z9">
            
            <ng-container matColumnDef="ban">
              <th mat-header-cell *matHeaderCellDef width="100px"></th>
              <td mat-cell *matCellDef="let element"style="text-align:left;"> {{element.ban}} </td>
            </ng-container>

            <ng-container matColumnDef="PremiumAmount">
              <th mat-header-cell *matHeaderCellDef width="170px">PREMIUM&nbsp;AMOUNT</th>
              <td mat-cell *matCellDef="let element"style="text-align:right;"> {{element.PremiumAmount}} </td>
            </ng-container>
            
            <!-- Hastag Column -->
            <ng-container matColumnDef="TotalCharges">
              <th mat-header-cell *matHeaderCellDef width="170px"> TOTAL&nbsp;CHARGES </th>
              <td mat-cell *matCellDef="let element">  {{element.TotalCharges}} </td>
            </ng-container>
          
            <!-- Invoice No. Column -->
            <ng-container matColumnDef="GrossAR">
              <th mat-header-cell *matHeaderCellDef width="170px"> GROSS&nbsp;A/R </th>
              <td mat-cell *matCellDef="let element"> {{element.GrossAR}} </td>
            </ng-container>
          
            <!-- Coverage Description Column -->
            <ng-container matColumnDef="GrossUnIN">
              <th mat-header-cell *matHeaderCellDef width="200px"> GROSS&nbsp;UNEARNED&nbsp;INCOME </th>
              <td mat-cell *matCellDef="let element"> {{element.GrossUnIN}} </td>
            </ng-container>
          
            <!-- Covered Amount Column -->
            <ng-container matColumnDef="GrossComm">
              <th mat-header-cell *matHeaderCellDef width="220px"> GROSS&nbsp;COMMISSION</th>
              <td mat-cell *matCellDef="let element"> {{element.GrossComm}} </td>
            </ng-container>
        
            <!-- PREMIUM RATE Column -->
            <ng-container matColumnDef="NetComm">
              <th mat-header-cell *matHeaderCellDef width="220px"> NET&nbsp;COMMISSION</th>
              <td mat-cell *matCellDef="let element"> {{element.NetComm}} </td>
            </ng-container>

         <!-- PREMIUM RATE Column -->
         <ng-container matColumnDef="OutputVat">
          <th mat-header-cell *matHeaderCellDef width="220px"> OUTPUT&nbsp;VAT</th>
          <td mat-cell *matCellDef="let element"> {{element.OutputVat}} </td>
        </ng-container> 

        <!-- PREMIUM RATE Column -->
        <ng-container matColumnDef="GrossAP">
          <th mat-header-cell *matHeaderCellDef width="220px"> GROSS&nbsp;A/P</th>
          <td mat-cell *matCellDef="let element"> {{element.GrossAP}} </td>
        </ng-container> 
        
        <!-- PREMIUM RATE Column -->
        <ng-container matColumnDef="Wtax">
          <th mat-header-cell *matHeaderCellDef width="200px"> WTAX</th>
          <td mat-cell *matCellDef="let element"> {{element.Wtax}} </td>
        </ng-container> 

        <!-- PREMIUM RATE Column -->
        <ng-container matColumnDef="NextDue">
          <th mat-header-cell *matHeaderCellDef width="220px"> NET&nbsp;DUE</th>
          <td mat-cell *matCellDef="let element"> {{element.NextDue}} </td>
        </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
        </div>

        <div class="" style="margin-top:30px;">

          <div  class="Invoice-no">Invoice No.&nbsp;&nbsp;&nbsp;: <input disabled type="text" placeholder="100000001"></div>
          <div class="main-mat-elevation-z9" style="overflow-x: auto; overflow-y: auto;">
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z9">
              
              <ng-container matColumnDef="ban">
                <th mat-header-cell *matHeaderCellDef width="200px"></th>
                <td mat-cell *matCellDef="let element"style="text-align:left;"> {{element.ban}} </td>
              </ng-container>

              <ng-container matColumnDef="PremiumAmount">
                <th mat-header-cell *matHeaderCellDef width="150px">PREMIUM&nbsp;AMOUNT</th>
                <td mat-cell *matCellDef="let element"style="text-align:center;"> {{element.PremiumAmount}} </td>
              </ng-container>
              
              <!-- Hastag Column -->
              <ng-container matColumnDef="TotalCharges">
                <th mat-header-cell *matHeaderCellDef width="150px"> TOTAL&nbsp;CHARGES </th>
                <td mat-cell *matCellDef="let element">  {{element.TotalCharges}} </td>
              </ng-container>
            
              <!-- Invoice No. Column -->
              <ng-container matColumnDef="GrossAR">
                <th mat-header-cell *matHeaderCellDef width="150px"> GROSS&nbsp;A/R </th>
                <td mat-cell *matCellDef="let element"> {{element.GrossAR}} </td>
              </ng-container>
            
              <!-- Coverage Description Column -->
              <ng-container matColumnDef="GrossUnIN">
                <th mat-header-cell *matHeaderCellDef width="150px"> GROSS&nbsp;UNEARNED&nbsp;INCOME </th>
                <td mat-cell *matCellDef="let element"> {{element.GrossUnIN}} </td>
              </ng-container>
            
              <!-- Covered Amount Column -->
              <ng-container matColumnDef="GrossComm">
                <th mat-header-cell *matHeaderCellDef width="200px"> GROSS&nbsp;COMMISSION</th>
                <td mat-cell *matCellDef="let element"> {{element.GrossComm}} </td>
              </ng-container>
          
              <!-- PREMIUM RATE Column -->
              <ng-container matColumnDef="NetComm">
                <th mat-header-cell *matHeaderCellDef width="200px"> NET&nbsp;COMMISSION</th>
                <td mat-cell *matCellDef="let element"> {{element.NetComm}} </td>
              </ng-container>
  
           <!-- PREMIUM RATE Column -->
           <ng-container matColumnDef="OutputVat">
            <th mat-header-cell *matHeaderCellDef width="200px"> OUTPUT&nbsp;VAT</th>
            <td mat-cell *matCellDef="let element"> {{element.OutputVat}} </td>
          </ng-container> 
  
          <!-- PREMIUM RATE Column -->
          <ng-container matColumnDef="GrossAP">
            <th mat-header-cell *matHeaderCellDef width="200px"> GROSS&nbsp;A/P</th>
            <td mat-cell *matCellDef="let element"> {{element.GrossAP}} </td>
          </ng-container> 
          
          <!-- PREMIUM RATE Column -->
          <ng-container matColumnDef="Wtax">
            <th mat-header-cell *matHeaderCellDef width="200px"> WTAX</th>
            <td mat-cell *matCellDef="let element"> {{element.Wtax}} </td>
          </ng-container> 
  
          <!-- PREMIUM RATE Column -->
          <ng-container matColumnDef="NextDue">
            <th mat-header-cell *matHeaderCellDef width="200px"> NET&nbsp;DUE</th>
            <td mat-cell *matCellDef="let element"> {{element.NextDue}} </td>
          </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
          </div>
    </form>
    <br><br><br>
    <footer class="footer">
      <div class="main-pscn">
          <div class="pscn">
    <button  class="pscn-previous" mat-raised-button matStepperPrevious ><i class="fas fa-arrow-alt-circle-left">&nbsp;PREVIOUS</i></button>
    <button  class="pscn-save" mat-raised-button  ><i class="fas fa-save">&nbsp;SAVE</i></button>
    <button  class="pscn-close" mat-raised-button matStepperNext ><i class="fas fa-times-circle">&nbsp;CLOSE</i></button>
  </div>
  <div class="main-complete">
          <input matInput appearance="outline" class="remarks"  matInput type="text"  placeholder="Remarks">
      
          <select  class="select-r" name="type">
            <option>SELECT&nbsp;RESPONSE</option>
        </select>
            

       <button class="btn-complete" mat-raised-button><i class="fas fa-check-circle">&nbsp;COMPLETE</i></button>
   
   </div>
</div>
</footer>
  </mat-step>
  
</mat-stepper>

</mat-drawer-container>

  


